<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- link href="http://fonts.googleapis.com/css?family=Bangers" rel="stylesheet" type="text/css"> -->
  <link rel="stylesheet" href="{{ "/assets/css/fonts.css" | prepend: site.baseurl | prepend: site.url  }}">
  <link rel="stylesheet" href="{{ "/assets/css/colorbox.css" | prepend: site.baseurl | prepend: site.url  }}">
  <link rel="stylesheet" href="{{ "/assets/css/academicons.min.css" | prepend: site.baseurl | prepend: site.url  }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | prepend: site.url  }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <!-- jQuery -->
  <script src="{{ "assets/js/jquery-3.2.1.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{ "assets/js/bootstrap.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
</head>
