<p>
{% if member.url %}<a href="{{ member.url }}"><i class="fa fa-home fa-2x"></i></a>{% endif %}
{% if member.email %}<a href="mailto:{{ member.email }}"><i class="fa fa-envelope fa-2x"></i></a>{% endif %}
{% if member.googlescholar %}<a href="https://scholar.google.co.uk/citations?user={{ member.googlescholar}}"><i class="ai ai-google-scholar ai-2x"></i></a>{% endif %}
{% if member.github %}<a href="https://github.com/{{ member.github }}"><i class="fa fa-github fa-2x"></i></a>{% endif %}
{% if member.twitter %}<a href="https://twitter.com/{{ member.twitter }}"><i class="fa fa-twitter fa-2x"></i></a>{% endif %}
{% if member.orcid %}<a href="https://orcid.org/{{ member.orcid }}"><i class="ai ai-orcid ai-2x"></i></a>{% endif %}
{% if member.impactstory %}<a href="https://profiles.impactstory.org/u/{{ member.impactstory }}"><i class="ai ai-impactstory ai-2x"></i></a>{% endif %}
{% if member.researcherid %}<a href="http://www.researcherid.com/rid/{{ member.researcherid }}"><i class="ai ai-orcid ai-2x"></i></a>{% endif %}
{% if member.linkedin %}<a href="https://www.linkedin.com/in/{{ member.linkedin }}"><i class="fa fa-linkedin fa-2x"></i></a>{% endif %}
{% if member.researchgate %}<a href="https://www.researchgate.net/profile/{{ member.researchgate }}"><i class="ai ai-researchgate ai-2x"></i></a>{% endif %}
{% if member.osf %}<a href="https://www.osf.io/{{ member.osf }}/"><i class="ai ai-osf ai-2x"></i></a>{% endif %}
{% if member.publons %}<a href="https://www.publons.com/a/{{ member.publons }}/"><i class="ai ai-publons ai-2x"></i></a>{% endif %}
</p>
