---
layout: default
---

<div class="jumbotron">
<h2>Computational learning and decision making</h2>
<p class="lead">We study human learning, inference and decision making with behavioural experiments, computational modelling, and neuroscience.</p>
<!-- <p><a class="btn btn-lg btn-info" href="#">Learn more &raquo;</a></p> -->
</div>

<div class="row">
<div class="col8 col-sm-8 col-lg-8">
{{ content }}
</div>


<div class="col4 col-sm-4 col-lg-4">

<a class="twitter-timeline" href="https://twitter.com/SpeekenbrinkLab" data-widget-id="479933865528537089">Tweets by @SpeekenbrinkLab</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>






    <h3 id="address">Location</h3>
    <p>UCL Experimental Psychology<br />
    26 Bedford Way<br />
    London WC1H 0AP<br />
    United Kingdom</p>
     <div id="googlemap"><iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=26+Bedford+Way,+Camden+Town,+Greater+London+WC1H+0,+UK&amp;sll=51.564968,-0.10347&amp;sspn=0.009044,0.013926&amp;ie=UTF8&amp;hq=&amp;hnear=26+Bedford+Way,+Camden+Town,+Greater+London+WC1H+0,+United+Kingdom&amp;ll=51.527329,-0.129561&amp;spn=0.009345,0.018239&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=26+Bedford+Way,+Camden+Town,+Greater+London+WC1H+0,+UK&amp;sll=51.564968,-0.10347&amp;sspn=0.009044,0.013926&amp;ie=UTF8&amp;hq=&amp;hnear=26+Bedford+Way,+Camden+Town,+Greater+London+WC1H+0,+United+Kingdom&amp;ll=51.527329,-0.129561&amp;spn=0.009345,0.018239&amp;z=15&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
</div>
</div>
